@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* NAVBAR */
header {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.row {
  max-width: 1180px;
  margin: 0 auto;
}

.nav-header {
  float: right;
  margin-top: 10px;
}

.nav-header li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}

.nav-header li a {
  color: #000;
  text-decoration: none;
  font-size: 90%;
  font-weight: 100;
}

.nav-header li a:hover {
  border-bottom: 2px solid sandybrown;
}
/* ------------------------- */
body {
    background-color: #FFF;
  }
  
  
  h1{
	font-size: 36px;
	color: #E89A2F;
  font-family: "Raleway";
  font-weight: 200;
  text-align: left;

}

h2{
    color: 	black;
    font-family: "Raleway";
  font-weight: 200;
  text-align: left;
	}
h4{

	color: black;
}

  
  p {
    color: #333;
    font-family: "Raleway";
    font-weight: 200;
    text-align: left;
    
  }
 
  footer {
    background-color: #DBE9EE;
    text-align: center;
  }
  
  
  .getInfo label {
    text-align: left;
    position:static;
    position:relative;
    top: 0px auto;
    font-family: "Raleway";
    font-weight: 200;
    text-align: left;
  
  }
  .button {
    width: 200px;
    padding: 20px;
    background-color: rgb(204, 167, 98);
    margin:40px auto;
    border: 1px solid rgb(139, 53, 44);
    border-radius: 4px;
    color: rgb(128, 59, 73);
    display: block;
    font-weight: 700;
  }
  
  .button:hover {
    background-color: rgb(211, 164, 166);
    border: 1px solid rgb(58, 25, 54);
    color: rgb(68, 28, 28);
  }
  .form{
    background-color: rgb(255, 255, 255);
  }
  
  .answer {
    border: 1px solid #466995;
    margin: auto;
    display:inline-block;
    position:relative
   
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
    
  }
  .logo img {
    display: block;
    margin: 30px auto;
    width: 50%;
  
    position: relative;
  }