@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* NAVBAR */
header {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #333333;
}

.row {
  max-width: 1180px;
  margin: 0 auto;
}

.nav-header {
  float: right;
  margin-top: 10px;
}

.nav-header li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}

.nav-header li a {
  color: #000;
  text-decoration: none;
  font-size: 90%;
  font-weight: 100;
}

.nav-header li a:hover {
  border-bottom: 2px solid sandybrown;
}
/* ------------------------- */

.grid-kopi {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 50px;
}
.grid-item {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
}

main {
  position: absolute;
  top: 30px;
  margin: auto;
  background: grey;
  width: 100%;
}

body {
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

/* WHAT WE OFFER */
h2 {
	font-size: 36px;
	color: #E89A2F;
  font-family: "Raleway";
  font-weight: 200;
  text-align: center;
}

.deskripsi {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}


/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 20px;
	font-size: 15px;
	margin: 0 0 10px;
}
p.large {
	font-size: 20px;
  color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 3em 0;
    padding: 0;
    background-image: -webkit-linear-gradient(left, #000, #f4b342, #000);
    background-image: -moz-linear-gradient(left, #000, #f4b342, #000);
    background-image: -ms-linear-gradient(left, #000, #f4b342, #000);
    background-image: -o-linear-gradient(left, #000, #f4b342, #000);
    width: 50%;
    left: 25%;
    position: relative;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid ;
}

.logo img {
  display: block;
  margin: 30px auto;
  width: 50%;

  position: relative;
}
