.offer {
  color: lightblue;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.8;
}

.offerdesc {
  text-align: center;
  font-size: 20px;
  line-height: 0.5;
}

.table {
  border: 5px dashed black;
  text-align: center;
  background-color: LightGrey;
}

.kopi {
  border: 2px solid black;
}
