


.bg-color{	
			background-color: #D3D3D3;

			}

hr{

	max-width: 1000px;
	}

.center{
		text-align: center;
		background-color: #708090;
	}

.gambar{
	border-radius: 50%;
	border: 1px solid 	#D3D3D3;
	padding: 10px;
	height:120px; 
	width:120px;
}


.grid-container {
 display: grid;
 grid-template-columns: auto auto auto ;
}

.grid-container2{
	display: grid;
 	grid-template-columns: auto auto;

}
.grid-item {
color: #FAFAD2;
	max-width: 300px;
	text-align: center;
	margin: 20px auto;
 
}

h1{
	color: 	#2F4F4F;
	margin-top: 10px;
	
}

h2{
	color: 	#2F4F4F;
	}
h4{

	color: #FAFAD2;
}

